<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lastcheckat.mapper.LastCheckAtMapper">

    <resultMap id="BaseResultMap" type="com.lastcheckat.model.LastCheckAt">
        <!-- Primary keys of result sets -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="item_id" property="itemId" jdbcType="INTEGER"/>
        <!-- Ordinary columns  -column Is the field in the database. property Is a field in an entity class-->
        <result column="last_check_at" property="lastCheckAt" jdbcType="TIMESTAMP"/>
        <result column="is_current" property="isCurrent" jdbcType="BLOB"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--
    select i.name,l.last_check_at from item i,last_check_at l where i.id = l.item_id and l.is_current=true;
    update last_check_at set is_current=false where item_id=3;
    INSERT into last_check_at(item_id,last_check_at,is_current,created_at) VALUE
    (3,now(),true,now());
    -->
    <!--parameterType(Input type),resultType(type of output)-->
    <select id="listLCA"
            resultMap="BaseResultMap" >
            select i.name,l.* from item i,last_check_at l where i.id = l.item_id and l.is_current=true;
    </select>

    <update id="updateLastCheckAt">
       update last_check_at set last_check_at = now()
       where id = #{id}
    </update>

</mapper>